<mat-card>
  <mat-card-header>
    <mat-card-title>Post New Message</mat-card-title>
    <mat-card-subtitle>Subheading if you like</mat-card-subtitle>
  </mat-card-header>
<form>
  <mat-form-field class="example-full-width">
    <textarea name="message" [(ngModel)]="message" matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input  name="userName" [(ngModel)]="userName" matInput placeholder="Username">
  </mat-form-field>
</form>
  <mat-card-actions>
    <button (click)="post()" mat-button>Post</button>
  </mat-card-actions>
</mat-card>
<br>
<mat-card>
  <mat-card-header>
    <mat-card-title>Messages</mat-card-title>
    <mat-card-subtitle>Subheading if you like</mat-card-subtitle>
  </mat-card-header>
<mat-list role="list">
	<mat-list-item role="listitem" *ngFor="let msg of messages">{{msg.msg}}</mat-list-item>
</mat-list>
</mat-card>
